
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function getRole(groupId, userId) {
      return get(/databases/$(database)/documents/groups/$(groupId)).data.roles[userId];
    }
    
    function isAdmin(groupId, userId) {
      return getRole(groupId, userId) == 'admin';
    }
    
    function isEditor(groupId, userId) {
      let role = getRole(groupId, userId);
      return role == 'admin' || role == 'bearbeiter';
    }
    
    function isContributor(groupId, userId) {
      let role = getRole(groupId, userId);
      return role == 'admin' || role == 'bearbeiter' || role == 'berechtigt';
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /homeworks/{id} { allow read, write: if request.auth.uid == userId; }
      match /quickNotes/{id} { allow read, write: if request.auth.uid == userId; }
      match /statistics/{id} { allow read, write: if request.auth.uid == userId; }
      match /presentations/{id} { allow read, write: if request.auth.uid == userId; }
      match /documents/{id} { 
        allow read: if (resource != null && resource.data.isPublished == true) || request.auth.uid == userId; 
        allow write: if request.auth.uid == userId; 
      }
      match /todoLists/{id} { allow read, write: if request.auth.uid == userId; }
      match /quizzes/{id} { 
        allow read: if (resource != null && resource.data.isPublished == true) || request.auth.uid == userId;
        allow write: if request.auth.uid == userId; 
        
        match /responses/{responseId} {
          allow read, delete: if request.auth != null && request.auth.uid == userId;
          allow create: if true;
          allow update: if request.auth != null && request.auth.uid == userId;
        }
      }
    }
    
    match /groups/{groupId} {
      allow read: if request.auth != null && (request.auth.uid in resource.data.members);
      allow create: if request.auth != null;
      allow update: if request.auth != null && (isAdmin(groupId, request.auth.uid) || isEditor(groupId, request.auth.uid));
      
      match /homeworks/{hwId} {
        allow read: if request.auth != null && (request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.members);
        allow create, update, delete: if request.auth != null && isContributor(groupId, request.auth.uid);
      }
    }
  }
}
