
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /homeworks/{id} { allow read, write: if request.auth.uid == userId; }
      match /quickNotes/{id} { allow read, write: if request.auth.uid == userId; }
      match /statistics/{id} { allow read, write: if request.auth.uid == userId; }
      match /presentations/{id} { allow read, write: if request.auth.uid == userId; }
      match /documents/{id} { 
        allow read: if (resource != null && resource.data.isPublished == true) || request.auth.uid == userId; 
        allow write: if request.auth.uid == userId; 
      }
      match /todoLists/{id} { allow read, write: if request.auth.uid == userId; }
      match /quizzes/{id} { 
        allow read: if (resource != null && resource.data.isPublished == true) || request.auth.uid == userId;
        allow write: if request.auth.uid == userId; 
        
        match /responses/{responseId} {
          allow read, delete: if request.auth != null && request.auth.uid == userId;
          allow create: if true;
          allow update: if request.auth != null && request.auth.uid == userId;
        }
      }
    }
    
    match /groups/{groupId} {
      allow read: if request.auth != null && (request.auth.uid in resource.data.members);
      allow create: if request.auth != null;
      allow update: if request.auth != null && (request.auth.uid == resource.data.admin || request.auth.uid in resource.data.members);
      
      match /homeworks/{hwId} {
        allow read: if request.auth != null && get(/databases/$(database)/documents/groups/$(groupId)).data.members.hasAny([request.auth.uid]);
        allow write: if request.auth != null && get(/databases/$(database)/documents/groups/$(groupId)).data.members.hasAny([request.auth.uid]);
      }
    }
  }
}
